.payment-area{
    background: #F5F7FA;
    .payment-text-area{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .section-title{
        width: 85%;
    }

    .section-sub-title{
        width: 67%;
    }
}